.imagenFondo{
	-fx-background-image: url("sky.jpeg");
	-fx-background-size: 100%;
	-fx-background-repeat: no-repeat ;
	
}
.jfx-button:hover {
	-fx-background-color: black;
}
.jfx-button{
	-fx-background-color:  #f2b90f;
}
.footer{
	-fx-background-color: #f2b90f;
}

